#section-doggo{
    display:flex;
    justify-content: center;
    position: relative; 
}

#box{
    width: 300px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: absolute;
    left: 20%;
}

    
#doggo{
    
    width: 400px;
}

/* Animate */
#section-animate{
    margin-top: 5rem;
    position: absolute;
    top: 40%;
    left: 30%;
}


#animate-text{
    fill: white;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#animate-box{
    fill: #00bfb6;
}